<!doctype html>
<html>
<head>
  <title>Memory201 Login</title>
  <link rel="stylesheet" type="text/css" 
        href="/static/css/styles.css" />
</head>
<body>

  <div class="form-container">
    <p class="form-header">Memory201 Login</p>
    <form method="POST" action="/login">
        <label>Username:</label></br>
        <input type="text" name="username"><br/><br/>
        <label>Password:</label></br>
        <input type="password" name="password"><br/>
       <br/> <input type="submit" value="Login">
    </form>
  </br></br>
  <a class="button" href="/signup">Memory201 SignUp</a>
  <p class="user-found"><%= msg %></p>
  </div>
</body>
</html>
